body{
    background-color: rgb(239, 239,239);
    margin: 0;
    padding: 0;
    font-family: "Montserrat";
}
@font-face {
  font-family: "Montserrat";
  src: url("Montserrat-VariableFont_wght.ttf");
}

#logo{
    float: left;
    max-width: 5.7rem;
    max-height: 1.2rem;
    margin-left: 2rem;
}
#hamburger{
    float: right;
    max-width: 1.4rem;
    max-height: 1.5rem;
    margin-right: 1rem;
}
.menu{
    position: relative;
    text-align: center;
    vertical-align: top;
    line-height: 1;
    margin-top: 1.9rem;
}

.menulink{
    color: black;
    text-decoration: none;
    font-size: 0.875rem;
    margin: 0rem 0.5rem 0rem 0.5rem;
  
}