body {
    background-color: rgb(239, 239, 239);
    margin: 0;
    padding-top: 2rem;
    font-family: "Montserrat";
}

@font-face {
    font-family: "Montserrat";
    src: url("Montserrat-VariableFont_wght.ttf");
}

#logo {
    float: left;
    max-height: 70%;
    margin-left: 3rem;
}

#hamburger {
    float: right;
    max-height: 70%;
    margin-right: 3rem;
}

.menu {
    height: 3vh;
    position: relative;
    text-align: center;
    vertical-align: top;
}

.menulink {
    color: black;
    text-decoration: none;
    font-size: 2vh;
    margin: 0rem 1rem 0rem 1rem;

}

#shapeholder {
    padding-top: 2rem;
    text-align: center;
    display: block;
    position: relative;
}

#shape {
    width: 35%;
    margin: 0 auto;
}

#Image {
    position: absolute;
    top: 3rem;
    max-width: 20%;
    z-index: 200;
    left: 40%;

}

.p {
    position: relative;
}

.Readmore {
    font-size: 1.5vh;
    text-decoration: none;
    color: black;
    font-weight: 900;
}

.Lorem {
    position: absolute;
    left: 15vh;
    top: 10%;
    font-size: 2vh;
    text-align: left;
}

.slogan {
    margin: 0;
    text-align: left;
    font-size: 12vh;
    font-weight: bold;
    position: absolute;
    z-index: 300;
    line-height: 8vh;
    left: 60%;
    top: 40%;
}

.Address {
    float: right;
    margin-top: 3rem;
    margin-right: 3rem;
    font-size: 1.5vh;
    font-weight: 700;
}

.footer {
    box-sizing: content-box;
    display: block;

}

.icons {
    float: left;
    margin-top: 2rem;
    margin-left: 3rem;
}

.icon {
    max-width: 1.5rem;
}