body {
  background-image: url("dc16a335-011d-4dd9-a90e-f06265126dd7.png");

  background-size: cover;
  color: rgb(255, 255, 255);
  font-family: "Montserrat";
  text-align: center;
}
/* #wrapper{
  padding-top: 200px;

} */
@font-face {
  font-family: "Montserrat";
  src: url("Montserrat-VariableFont_wght.ttf");
}
@font-face {
  font-family: "tabler-icons-200-filled";
  src: url("tabler-icons.woff2") format("woff2");
}
#user, #lock {
  font-size: 16px;
}

#user {
  position: absolute;
  top: 124px;
  left: 318px;
}
#lock {
  position: absolute;
  top: 200px;
  left: 318px;
}
#container {
  margin: 200px auto;
  backdrop-filter: blur(10px);
  border-radius: 8px;
  width: 395px;
  border: 2px rgba(235, 212, 212, 0.278) solid;
}
#log {
  font-size: 32px;
  font-weight: bolder;
  padding-top: 32px;
}
#login,
#password {
  background: transparent;
  border: 2px solid rgba(235, 212, 212, 0.278);
  border-radius: 50px;
  padding-top: 6px;
  padding-right: 40px;
  color: white;
  font-size: 16px;
  width: 256px;
}
input,
textarea {
  padding-left: 16px;
}
input:focus,
#password:focus,
#login:focus {
  outline: none;
  color: white;
  font-size: 16px;
  font-weight: 400;
  overflow: hidden;
}
::placeholder {
  color: white;
  font-size: 16px;
  font-weight: 400;
}
#login {
  margin-top: 36px;
  margin-left: 2px;
  height: 38px;
}
#password {
  margin-top: 26px;
  margin-left: 2px;
  height: 38px;
  background-size: 18px;
  background-repeat: no-repeat;
  background-position: 278px;
}
#remember_forgot {
  margin-top: 14px;
  text-align: left;
  font-size: 13px;
  font-weight: 500;
  padding-left: 0px;
  margin-bottom: 09x;
}
#remember {
  display: inline-block;
  margin-left: 40px;
  width: 122px;
  margin-top: 0px;

}
#forgot {
  display: inline-block;
  right: 3px;
  margin-top: 3px;
  margin-left: 68px;
}
input[type="checkbox"] {
  width: 12px;
  margin-top: 0px;
  margin-left: 2px;
}
a {
  color: white;
  text-decoration: none;
}
#btn {
  margin-top: 15px;
  padding-top: 11px;
  padding-bottom: 11px;
  width: 320px;
  border-radius: 40px;
  border: 0px;
  font-size: 15px;
  font-weight: 600;
  color: rgb(82, 80, 80);
}
#btn:hover {
  background-color: rgba(158, 99, 213, 0);
  color: white;
  border: 1px rgba(255, 255, 255, 0.436) solid;
}
#register {
  margin-top: 20px;
  font-size: 14px;
  margin-bottom: 44px;
  padding: 0;
}
#reg {
  font-weight: bold;
}
.snow{
  background-color: transparent;
  width: 45px;
  height: 30px;
  position: absolute;
  left: 5px;
  top: 0px;
}